params.container = "docker://ghcr.io/seirana/theranet:0.1"

profiles {
  singularity {
    process.container = params.container
    singularity.enabled = true
    singularity.autoMounts = true
  }
  docker {
    docker.enabled = true
    process.container = params.container.replace('docker://','')
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
}
