params {
  input     = "${projectDir}/input.csv"
  script    = "${projectDir}/run.py"
  outdir    = "${projectDir}/results"
  container = "docker://ghcr.io/seirana/theranet:0.1"  // Option A default image
}

profiles {
  // Default local executor
  standard {
    process.executor = 'local'
  }

  // Recommended for most users
  singularity {
    process.container = params.container
    singularity {
      enabled   = true
      autoMounts = true
      cacheDir  = "${System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "$HOME/.singularity"}"
    }
  }

  // Optional: allow Docker users to run without Singularity
  docker {
    docker.enabled = true
    // Remove docker:// prefix for Docker runtime
    process.container = params.container.replace('docker://','')
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
}
